/* CSSのリセット（消さないで） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
    margin: 0;
    padding: 0;
}
li {
    list-style: none
}

/* page-style */
.container {
    color: #fff;
    text-align: center;
    background-image: url('https://github.com/kazumakabashima/komisancafe/blob/main/IMG_05563.png?raw=true');
    background-repeat: no-repeat;
    background-position: center, center;
    background-attachment: fixed;
    background-size: cover;
}

/* header */
.header {
    background-color: #000;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* 必要に応じてZインデックスを調整してください */
    font-size: 30px;
}

/* main */
/* ページコンテンツのスタイル */
.main {
    padding: 150px 20px 150px 20px;
    background-color:rgba(68, 68, 68, 0.5);
}

.drink-type, .food-menu {
    margin: 200px 0 50px 0;
}

li {
    margin-bottom: 40px;
}
.footer {
    background-color: #000;
}

.menu {
    color: #eee;
}
